body {
    background-color: lightgreen;
}

h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 100px;
    margin-left:80px;
} 

.tamaño { 

    height: 150px;
    width: 150px;
    margin-left: 80px;
    border-radius: 70%;

}

.tamaño2 {

    height: 242
 px;
    width: 480px;
    margin-left: 80px;

}


